.flex-container{
    display: flex;
    flex-direction: column;
}

.nav{
    display: flex;
    /* border: 2px solid black; */
    justify-content: flex-end;

}
a{
    margin-left: 10px;
    text-decoration: none;
}

.main{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 22%;
    
}

.botones-sec{
    margin-top: 20px;

}

.footer{
    background-color: rgb(196, 196, 196);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
}

.buscador{
    border: 1px solid black;
    border-radius: 30px;

    padding: 10px 30px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}